<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <!-- DONT EDIT ANYTHING ABOVE THIS-->

    <!-- Always backup the config file, its easy to scew it up. -->
    <!-- I work pretty hard on this program, consider donating so I can get a website to have a better version checker...I also want a website for myself -->
    <!-- Throw some dollars at this sweet ass https://www.patreon.com/BasicGirl & https://www.paypal.me/basicgirlnsfw -->

    <add key="SFM_PATH" value="C:\Program Files (x86)\Steam\steamapps\common\SourceFilmmaker\game\usermod"/>
    <!-- Add your SFM usermod folder - DO NOT END USERMOD WITH A SLASH-->

    <add key="Auto_Check_For_Updates" value="true"/>
    <!-- Check for updates on launch, set to true or false. no caps-->

    <add key="TopBar" value="#282828"/>
    <add key="MainBG" value="#181818"/>
    <add key="Button Color" value="#dc8628"/>

    <add key="Download_Server" value="2"/>
    <add key="Show_Ad" value="1"/>

    <!-- DONT EDIT ANYTHING BELOW THIS-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
